* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: lightcyan;
	font-family: 'Roboto', sans-serif;
}

.celda {
	background: lightpink;
	border: 2px lightcoral solid;
	padding: 20px;
}

/* Grilla inicial */

.grilla-inicial {
	display: grid;
	padding: 20px;
}

/* Columnas */

.columnas {
	display: grid;
	padding: 20px;

	/* grid-template-columns: 250px 300px 250px; */
	/* grid-template-columns: 25% 50% 25%; */
	/* grid-template-columns: 1fr 2fr 1fr; */
	grid-template-columns: repeat(3, 1fr);

}

/* Espaciado de celdas */

.espaciado {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);

	grid-gap: 1em;

}

/* Altura de fila */

.altura-fila {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;

	/* Fijar el alto sin importar el contenido */
	/* grid-auto-rows: 200px; */

	/* Fijar un alto mínimo y un alto máximo de fila */
	grid-auto-rows: minmax(100px, auto);

	/* Fijar el alto de todas las filas respecto a la celda con mayor alto */
	/* grid-template-rows: repeat(3, 1fr); */

}

/* Alinear y justificar celdas en la grilla */

.alinear-justificar {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	grid-auto-rows: minmax(100px, auto);

	/* align-items: auto; */
	/* align-items: normal; */
	/* align-items: start; */
	align-items: end;
	/* align-items: center; */
	/* align-items: stretch; */
	/* align-items: baseline; */
	
}

/* Extender columnas y filas */

.span {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
}

#celda-1 {
	background: white;
	border: 2px black solid;

	/* Extender esta celda desde la línea vertical 1 hasta la 3 */
	grid-column: 1 / 3;

}

#celda-6 {
	background: white;
	border: 2px black solid;

	/* Extender esta celda desde la línea horizontal 2 hasta la 4 */
	grid-row: 2 / 4;

}

/* Responsivo */

.responsivo {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 768px) {
	.responsivo {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.responsivo {
		grid-template-columns: 1fr;
	}
}

/* Áreas */

.areas {
	display: grid;
	height: 100vh;
	padding: 20px;
	grid-gap: 1em;

	/* Diagramamos el layout usando el nombre de las celdas. */
	grid-template-areas: 
	'header header header'
	'nav main aside'
	'nav footer footer';

	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 80px 1fr 70px;

}

/* Acá se vinculan las celdas con un nombre. */
header 	{ grid-area: header; }
main 	{ grid-area: main; }
nav 	{ grid-area: nav; }
aside 	{ grid-area: aside; }
footer 	{ grid-area: footer; }
